# Dependencies
node_modules/

# Expo and React Native
.expo/
.expo-shared/
dist/
web-build/

# Tooling
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Editors
.DS_Store
.idea/
.vscode/
*.iml

# Env
.env*
expo-env.d.ts
